.gradle/
build/
**/build/
local.properties
.idea/
*.iml
.externalNativeBuild/
.cxx/
FOLDER_ARCHITECTURE.txT 

# Local Webcam Test Tool & Python Artifacts (Isolated local test only)

__pycache__/
*.pyc
.venv/
venv/
